body{
    background-color: #F8F9FA;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family:'Roboto',sans-serif;
}
header {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: auto;
    background-color: #343A40;
    color: white;
    align-items: center;
  }
  #header-one,
#header-two,
#header-three {
  display: inline-flex;
  flex-wrap: wrap;
  margin-left: 0;
}

#header-one{
  margin-left: 0;
}
.main-sec {
  display: flex;
  flex-wrap: wrap;
}
.logo{
  margin-left: 43px;
  margin-top: 12px;
  margin-bottom: 12px;
  height: 32px;
  width: 32px;
} 
.maintain {
    flex-wrap: wrap;
    border: 0px solid ;
    background-color: #484e53;
    display: flex;
    flex-direction: row;
    border-radius: 40px;
    padding-left: 44px;
    padding-right: 36px;
    color: white;
}
.header-img,
.maintain {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  margin-left: 32px;
  margin-top: 18px;
  margin-bottom: 18px;
  flex-wrap: wrap;
}
.arrow-main {
  margin-left: 4px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 16px;
}
.header-img-two {
  margin-top: 18px;
  margin-bottom: 18px;
  margin-left: 24px;
  margin-right: 24px;
}
.main-sec {
  display: flex;
  flex-wrap: wrap;
}
.logo-name{
  padding: 12px;
  border: 0px solid black;
  border-radius: 50px;
  background-color: #28A745;
  margin: 10px;
  color: white;
}
.header-for {
  display: block;
  flex-wrap: wrap;
  flex-direction: column;
  height: auto;
}
.end-name-1{
    margin-left: 12px;
    margin-bottom: 0;
    margin-top: 12px;
    font-style: medium;
}
.end-name-2{
    font-size: 11px;
    color: #FFFFFF;
    font-weight: 400;
    margin-top: 0;
    margin-left: 12px;
}
h1{
    font-size: 14px;
    margin-left: 8px;
    margin-top: 18px;
    margin-bottom: 18px;
   }
   h2{
    font-size: 16px;
    font-weight: 700;
    margin: 16px;
   }

#fourth{
    display: flex;
    flex-grow: 0;
    margin-left: auto;
    margin-right: auto;
}
.fifth{
    display: flex;
    flex: 1;
    justify-content: start;
    flex-wrap: wrap;
}
.sixth{
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    gap: 30px;
}
#search{
    margin-left: 175px;
    }
    .search,.setup,.help{
    margin-top: 18px;
    margin-bottom: 18px;
    margin-left: 24px;
    margin-right: 24px;
    }
#white{
    background-color: white;
    margin-top: 25px;
    border-radius: 10px;
    height: 700px;

}
#next1,#next2{
    border-radius: 10px;
    font-size: medium;
    color: white;
}
#next1{
    background-color:#28A745;
    margin-left: 100px;
    width: 93px;
    height: 40px;
    opacity: 0.5;
    border-radius: 54px;
}
#next2{
    background-color: #6C757D;
    width: 91px;
    height: 40px;
    opacity: 0.8;
    border-radius: 54px;
} 
.main{
    margin-left: 50px;
    margin-top: 50px;
}

ul, li {
    padding: 0;
    margin: 0;
    list-style-type: none;
    color:#343A40;
}
li{
    margin-top: 10px; 
}
#name{
    color:#024102;
    font-size:large;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    margin-left: 10px;
}
.list{
    margin-left: 5px;
}
#grave{
    margin-left:10px ;
    margin-top: 10px;
}
#grave > img {
    margin-right: 10px;
}
#owner{
    margin-left:10px ;
    margin-top: 10px;
}
#owner > img{
    margin-right: 10px;
}
#Buried{
    margin-left:10px ;
    margin-top: 10px;
}
#Buried > img{
    margin-right: 10px;
}
.pn{
    margin-left: 12px;
    margin-bottom: 0;
    margin-top: 12px; 
}
.mp{
    margin-top: 0;
    margin-left: 12px; 
}
select{
    width: 295px;
    padding: 15px;
    font-size:17px;
    border-radius: 10px;
    border: 1px solid #D3D7DC;
}
input {
    width: 260px;
    padding: 15px;
    font-size:17px;
    border-radius: 10px;
    border: 1px solid #D3D7DC;
    }
.seventh{
    margin-left: 100px; 
}

.seventh > input {
    width: 588px;
    height: 92px;
    padding-top: 0px;
    padding-left: 0px;
    text-align:left;
}

hr{
    width: 500.992;
     border-left-width: 0px;
    padding-left: 0px;
    padding-right: 0px; 
    width: 620.992;
    margin-left: 0px;
    width: 615.984;
    height: 2px;
    width: 615px;
    margin-right: 0px;
    border-right-width: 0px;
    margin-top: 40px;
    margin-bottom: 10px;
}
#add{
   margin-left: 500px;
}
#additional {
    margin-left: 530px;
    color: #6C757D;
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 100px;
    padding-top: 0px;
 }
 #plus {
    margin-left: 525px;
    gap: 10px;
    display: flex;
    align-items: center;
    margin-top: -30px;
    color: #6C757D;
 }

 #plus-1{
    margin-right: 10px;
 }
 footer{
    width: 100%;
    background-color: #6C757D;
    display: flex;
    color: white;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 120px;
    height: 80px;
   }
   #foot{
    margin-left: 30px;
   }
   #foot-content{
    height: 60px;
    display: flex;
    margin-left: auto;
    gap: 30px;
    margin-right: 50px;
    align-items: center;
   }
  h4{
    font-size: 24px;
    margin-left: 30px;
    margin-top: 18px;
    margin-bottom: 18px;
  }
  .input-container {
    position: relative;
  }
  .input-container i {
    position: absolute;
    top: 58%;
    left: 270px;
    transform: translateY(-50%);
    color: #888;
  }
  .input-container input {
    padding-left: 30px;
  }
  @media 
  only screen and (max-width: 760px),
  (min-device-width: 450px) and (max-device-width: 1024px)  {
     header{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: auto;
        background-color: #343A40;
        color: white;
        align-items: center;
        flex-wrap: wrap;
       }
       footer{
        background-color: #6C757D;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        height: auto;
        flex-wrap: wrap;
        width: 100%;
     }
          }
     